*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing:inherit;
}  
html{  
    font-size: 63.5%
}   
body{ 
    color:$whitecolor;
    padding: 1%;
    position: relative;
  
    box-sizing:border-box;
}

