
.navigation{
    &_checkbox{
        width: 64%;
        position: fixed;
        left: 56%;
        text-align: center;
        top: 7rem;
    }
   
    &_btn{
        width: 5%;
        height: 10%;
        border-radius: 50%;
        position: fixed;
        left: 87%;
        text-align: center;
        top: 5rem;
        z-index: 2;
        background-color: grey;
    }
    &_background{
        width: 5%;
        height: 10%;
        border-radius: 50%;
        position: fixed;
        left: 87%;
        top: 5rem;
        background-color: wheat;
        z-index: 1;
        box-shadow: 0 0.5rem 1rem rgba(221, 65, 65, 0.35);
        transition: all .8s;
    }
    &_ul{
        color: green;
        position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-22%, -95%);
    }
    &_item{
        list-style-type: none;
        line-height: 3rem;
        text-transform: uppercase;  
        
        
    }
    &_link:link,&link:active{
        text-decoration: none; 
       transition: all 1s;
  
    }
    &_link:hover{
        text-decoration: none; 
       color :white; 
    }
}
nav{
    
    position: fixed;
    left: 50rem;
    top: 50rem;
    z-index: 1;
    transform: translate(-13rem,-5rem);
    opacity: 0;
    width: 0;
}

.nav  a{
    color:green;
    font-weight: 300;
    font-size: 4rem;
    width: 100%;
    }
.navigation_checkbox:checked  ~ .navigation_background{
            transform: scale(150);
            img{
                opacity: 0;
            }
}
.navigation_checkbox:checked  ~ nav{
    width: 50%;
    opacity: 1;
}

.div_Size{
    height: 8rem;
}